@import url('https://fonts.googleapis.com/css2?family=Inter&family=Ubuntu:wght@300&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --body-color:rgb(255, 255, 255);
    --header-color:rgb(190, 190, 190);
    --main-color:rgb(228, 221, 221);
    --search-color:rgb(157, 169, 204);
    --footer-color:rgb(71, 69, 69);
    --movie-info:rgb(26, 25, 25);
}

.dark-thema{
    --body-color:rgb(0, 0, 0);
    --header-color:rgb(157, 155, 155);
    --main-color:rgb(74, 70, 70);
    --search-color:rgb(66, 80, 123);
    --footer-color:rgb(51, 49, 49);
    --movie-info:rgb(255, 255, 255);
}

body{
    background-color: var(--body-color);
    font-family: 'Inter', sans-serif;
    font-family: 'Ubuntu', sans-serif;
}

header{
    background-color: var(--header-color);
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1{
    letter-spacing: 5px;
    color: #fff;
}

.search{
    background-color: var(--search-color);
    border: 0;
    border-radius: 1rem;
    font-family: inherit;
    font-size: 1.2rem;
    color: #fff;
    padding: 0.5rem 1rem;
    margin-left:0.5rem ;
    width: 100%;
    transition: transform 0.3 ease-in;
}

.search:focus{
    outline: none;
    transform: scale(1.025);
}

.search::placeholder{
    color: #6c757d;
}

main{
    background-color: var(--main-color);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.movie{
    width: 300px;
    margin: 1rem;
    background-color: var(--assistant-color);
    box-shadow: 0 5px 6px black;
    position: relative;
    border-radius: 3px;
    overflow: hidden;
}

.movie img{
    width: 100%;
}

.movie-info{
    color: var(--movie-info);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem;
    letter-spacing: 0.5px;
}

.movie-info span{
    background-color: var(--main-color);
    padding: 0.25rem 0.5rem;
    border-radius: 1rem;
    font-size: 90%;
    font-weight: bold;
}

.movie-info span.green{
    color: lightgreen;
}

.movie-info span.orange{
    color: lightsalmon;
}

.movie-info span.red{
    color: red;
}

.overview{
    background-color: #566b84;
    color: #111;
    padding: 2rem;
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    max-height: 100%;
    transform: translateY(101%);
    overflow-y: auto;
    transition: transform 0.7s ease-in;
}

.movie:hover .overview{
    transform: translateY(0);
}

.overview h3{
    margin-bottom:0.5rem ;
    border-bottom: 2px solid #79b8f3;
    width: 50%;
}

footer{
    background-color: var(--footer-color);
    display: flex;
    flex-direction:column ;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 1rem;
}

footer h3{
    letter-spacing: 5px;
    color: #fff;
    margin-bottom: 0.5rem;
}

footer ul li{
    list-style-type: none;
    display: inline;
    margin-right: 1rem;
}

footer ul li a{
    color: #2066a0;
    text-decoration: none;
    font-size: 0.9rem;
}

footer small{
    margin-bottom: 0.5rem;
    color: #8197a4;
    font-size: 0.8rem;
}
